<img src="assets/images/icons/individual/icons_large_bs2_blue.png" alt="Money" class="contentImg" />

<h1 class="contentHeader">Baby Step 6</h1>
<p class="contentSubtitle">
Pay off your house early
</p>

<div class="maintext">
  <p>
  Baby Step 6
Pay off your house early

Now it’s time to begin chunking all of your extra money toward the mortgage. You are getting closer to realizing the dream of a life with no house payments.

As you attack this last debt, you will gain momentum much like you did back in the second step of the debt snowball. Remember, having absolutely no payments is totally within your reach!

  </p>
  <div class="friendsStatus" >
    <span>
    <p class="friend" ng-repeat="friend in filtered = (friends | filter:{babyStep:6}) | limitTo:2">
      {{friend.firstName}} {{friend.lastName}}<span class="maintext">,</span>
      <p class="filteredLength">
        and {{filtered.length}} Other Friends are on this step.
      </p>
    </p>
    </span>
  </div>
</div>
