<img src="assets/images/icons/individual/icons_large_bs2_blue.png" alt="Money" class="contentImg" />

<h1 class="contentHeader">Baby Step 4</h1>
<p class="contentSubtitle">
Invest 15% of household income for retirement
</p>

<div class="maintext">
  <p>
  Baby Step 4
Pay off all debt using the Debt Snowball

When you reach this step, you’ll have no payments—except the house—and a fully funded emergency fund. Now it’s time to get serious about building wealth.

Dave suggests investing 15% of your household income into Roth IRAs and pre-tax retirement plans. Don’t invest more than that because the extra money will help you complete the next two steps: college savings and paying off your home early.

  </p>
<div class="friendsStatus" >
    <span>
    <p class="friend" ng-repeat="friend in filtered = (friends | filter:{babyStep:4}) | limitTo:2">
      {{friend.firstName}} {{friend.lastName}}<span class="maintext">,</span>
      <p class="filteredLength">
        and {{filtered.length}} Other Friends are on this step.
      </p>
    </p>
    </span>
  </div>
</div>
