<img src="assets/images/icons/individual/icons_large_bs2_blue.png" alt="Money" class="contentImg" />

<h1 class="contentHeader">Baby Step 5</h1>
<p class="contentSubtitle">
  College funding for children
</p>

<div class="maintext">
  <p>
  Baby Step 5
College funding for children

By this point, you should have already started Baby Step 4—investing 15% of your income—before saving for college. Whether you are saving for you or your child to go to college, you need to start now.

In order to have enough money saved for college, you need to have a goal. Determine how much per month you should be saving at 12% interest in order to have enough for college. If you save at 12% and inflation is at 4%, then you are moving ahead of inflation at a net of 8% per year!
  </p>
  <div class="friendsStatus">
    <span>
    <p class="friend">
      Ernie casilla
    </p>
    </span>
  </div>
</div>
