<img src="assets/images/icons/individual/icons_large_bs2_blue.png" alt="Money" class="contentImg" />

<h1 class="contentHeader">Baby Step 2</h1>
<p class="contentSubtitle">
Pay off all debt using the Debt Snowball
</p>

<div class="maintext">
  <p>

Pay off all debt using the Debt Snowball

List your debts, excluding the house, in order. The smallest balance should be your number one priority. Don’t worry about interest rates unless two debts have similar payoffs. If that’s the case, then list the higher interest rate debt first.

The point of the debt snowball is simply this: You need some quick wins in order to stay pumped up about getting out of debt! Paying off debt is not always about math. It’s about motivation. Personal finance is 20% head knowledge and 80% behavior. When you start knocking off the easier debts, you will see results and you will stay motivated to dump your debt.

  </p>
  <div class="friendsStatus" >
    <span>
    <p class="friend" ng-repeat="friend in filtered = (friends | filter:{babyStep:2}) | limitTo:2">
      {{friend.firstName}} {{friend.lastName}}<span class="maintext">,</span>
      <p class="filteredLength">
        and {{filtered.length}} Other Friends are on this step.
      </p>
    </p>
    </span>
  </div>
</div>
