<ul class="BabyStepList">
  <div
      ng-repeat="babystep in babysteps"
      ui-serf-active="active"
      ng-class="{active: step.selected}"
      ng-click="selectStep(babystep)"
      class="active">
    <a
      ng-href="#{{babystep.id}}"
      ui-serf="app.step({ stepId: babystep })">
    <li
      class="babystepitem">Baby Step {{babystep.id}}
  <img
      class="icon"
      ng-src="assets/images/icons/individual/icons_small_bs{{babystep.id}}.png"
      alt="Money"/>
      </li>
    </a>
    <hr>
  </div>
</ul>
